botorch==0.6.4
cffi==1.15.0
cloudpickle==2.1.0
cycler==0.11.0
Cython==0.29.30
fasteners==0.17.3
fonttools==4.33.3
glfw==2.5.3
gpytorch==1.6.0
gym==0.21.0
imageio==2.19.2
kiwisolver==1.4.2
matplotlib==3.5.2
mujoco-py==2.1.2.14
multipledispatch==0.6.0
numpy==1.22.4
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
pycparser==2.21
pyparsing==3.0.9
pyro-api==0.1.2
pyro-ppl==1.8.0
python-dateutil==2.8.2
pytz==2022.1
sb3-contrib==1.5.0
scipy==1.8.1
six==1.16.0
stable-baselines3==1.5.0
torch==1.11.0
tqdm==4.64.0
typing_extensions==4.2.0
